.card {
    position: relative;
    width: 250px;
    height: 250px;
    color: #a18a96;
    background: url('bg_img.avif') center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.card-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card-content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #fff;
}

.card-title {
    color: #6A515E;
    line-height: 15px;
    margin: 0;
}

.card-subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover .card-description {
    opacity: 1;
    transition-delay: .25s;
}